/* google font inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    119deg,
    #020618 -34.38%,
    #162456 54.59%,
    #0f172b 143.57%
  );
}

.logo {
  background: linear-gradient(180deg, #0f8 0%, #00d4ff 100%);
}

.primary-color {
  color: #fff;
}

.secondary-color {
  color: #90a1b9;
}
